* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000033;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

.container-fluid h1 {
  font-family: "Xanh Mono", monospace;
  color: yellow;
}

.container-fluid h2 {
  font-family: "Xanh Mono", monospace;
  color: yellow;
  font-size: 20px;
  margin-bottom: 30px;
}

#outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  box-shadow: 0px 0px 5px white;
  width: 400px;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}

#display-container {
  width: 100%;
  border-bottom-style: solid;
  border-color: yellow;
  background-color: white;
  height: 60px;
  color: #000033;
  padding: 0px 10px 5px 0px;
  text-align: right;
}

#interface {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 0;
  justify-content: center;
  color: white;
}

#clear {
  grid-column: 1 / 5;
  background-color: red;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
}
